section.production
  .container
    .product
      .product__img-preview
        ul(id="imageGallery")
          li(data-thumb="/images/product1/th/th_product1-1.png" data-src="/images/product1/product1-1.png")
            img(src="/images/product1/product1-1.png")
          li(data-thumb="/images/product1/th/th_product1-2.png" data-src="/images/product1/product1-1.png")
             img(src="/images/product1/product1-1.png")
          li(data-thumb="/images/product1/th/th_product1-3.png" data-src="/images/product1/product1-1.png")
           img(src="/images/product1/product1-1.png")
          li(data-thumb="/images/product1/th/th_product1-4.png" data-src="/images/product1/product1-1.png")
           img(src="/images/product1/product1-1.png")
      .product__description
        h3 Персональный видеорегистратор BC-05B
        p Предназначен для аудио-видео съемки в любых погодных условиях, при любом уровне освещенности или при его отсутствии.
        ul
          li Интеграция с платформой Videosoft
          li Степень защиты IP66~IP68
          li Угол обзор 140°
          li Аккумулятор 4000 mAh
        a(href="#") Скачать спецификацию(.pdf)

