section.demo-access#demo
  .wrapp-preview.container
    .preview-info.preview-info_demo-access
      h2.preview-info__heading.preview-info__heading_h2 Облачная видео-аналитика, широкие возможности интеграции
      p.preview-info__descript Онлайн видео платформа с возможностью подключения различных устройств: нагрудных регистраторов, камер видеонаблюдения, СКУД и других.
      button.button Получить демо-доступ
    .preview-img
      img(src="/images/preview-demo-access.png" alt="Видеорегистратор")