header.header
  .container
    .header__wrapp-link
      a(href="/")
        img(src="/images/logo.jpg")
      nav.menu
        a(href="#").menu__link Видеорегистраторы
        a(href="#").menu__link Videosoft platform
        a(href="#").menu__link Контакты
      div
        a(href="tel:89997450122") 8 999 745 01 22
        a(href="#") Заказать звонок