section.header__wrapp-link.container
  a(href="/")
    img(src="/images/logo.jpg" alt="Логотип компании")
  nav.menu
    a(href="#").menu__link Видеорегистраторы
    a(href="#").menu__link Videosoft platform
    a(href="#").menu__link Контакты
  .phone
    a(href="tel:89997450122").phone__tel 8 999 745 01 22
    a(href="#").phone__req-call Заказать звонок