section.wrapp-preview.wrapp-preview_header
  .preview-info
    h1.preview-info__heading.preview-info__heading_h1 Цифровизация полевых сотрудников
    p.preview-info__descript Видеософт - это профессиональная RND российская компания, занимающаяся разработкой программно-аппаратных решений с использованием искусственного интеллекта для систем безопасности общественного порядка и коммерческих заказчиков.
    button.button#btn-scroll-demo Узнать подробнее
  .preview-img
    img(src="/images/preview.png" alt="Видеорегистратор")