section.header__wrapp-preview
  .preview-info
    h1.preview-info__heading Цифровизация полевых сотрудников
    p.preview-info__descript Видеософт - это профессиональная RND российская компания, занимающаяся разработкой программно-аппаратных решений с использованием искусственного интеллекта для систем безопасности общественного порядка и коммерческих заказчиков.
    button.preview-info__button Узнать подробнее
  .preview-img
    img(src="/images/preview.png" alt="Видеорегистратор")