section.header__wrapp-link.container
  a(href="/").logo
    img(src="/images/logo.jpg" alt="Логотип компании")

  nav.menu
    a(href="#product").menu__link#product_n Видеорегистраторы
    a(href="#demo").menu__link#demo_n Videosoft platform
    a(href="#form").menu__link#form_n Контакты

  .phone
    a(href="tel:89997450122").phone__tel 8 999 745 01 22
    a(href="#form").phone__req-call#form-call Заказать звонок

  //--start Menu hamburger
  .menu-hamburger
    button.menu-hamburger__icon
  //--end Menu hamburger