@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

/* общие стили*/
body {
  font-family: "Montserrat", sans-serif;
  font-size: 10px;
}

img {
  max-width: 100%;
}

.container {
  max-width: 1200px;
  padding: 0 20px;
  margin: 0 auto;

  &_m-auto {
    margin: auto;
  }
}

/*КНОПКА*/
.button {
  font-style: normal;
  font-weight: bold;
  font-size: 1.6em;
  color: #ffffff;
  background: #FF3E3F;
  border: 0;
  cursor: pointer;
  padding: 20px 88px;

  &:hover {
    background: #E52627;
  }

  &:active {
    background: #FF6263;
  }
}

/*Стили наполнения блока*/
.wrapp-preview {
  display: flex;
  justify-content: space-between;

  &_header {
    margin-top: 100px;
  }
}

.preview-info {
  color: #ffffff;
  width: 50%;
  z-index: 9;

  &_demo-access {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
  }

  &__heading {
    font-style: normal;
    font-weight: bold;
    margin: 0 0 40px;

    &_h1 {
      font-size: 6.4em;
    }

    &_h2 {
      font-size: 4em;
      line-height: 1.6;
    }
  }

  &__descript {
    font-style: normal;
    font-weight: 500;
    font-size: 1.6em;
    line-height: 1.8;
    margin: 0 0 50px;
  }
}

.preview-img {
  width: 50%;
  padding: 20px 0 20px 20px;
}