@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

/* общие стили*/
html {
  font-size: 10px;
}

body {
  font-family: "Montserrat", sans-serif;
}

img {
  max-width: 100%;
}

.container {
  max-width: 1200px;
  padding: 0 20px;
  margin: 0 auto;

  @media only screen and (max-width: 1023px) {
    max-width: 940px;
    padding: 0 10px;
  }

  @media only screen and (max-width: 939px) {
    max-width: 620px;
  }

  @media only screen and (max-width: 619px) {
    max-width: 460px;
  }

  @media only screen and (max-width: 459px) {
    max-width: 300px;
  }

  &_m-auto {
    margin: auto;
  }
}

/*КНОПКА*/
.button {
  font-style: normal;
  font-weight: bold;
  font-size: 1.6rem;
  color: #ffffff;
  background: #FF3E3F;
  border: 0;
  cursor: pointer;
  padding: 25px 88px;
  text-transform: uppercase;

  @media only screen and (max-width: 939px) {
    font-size: 1.4rem;
    padding: 20px 70px;
  }

  @media only screen and (max-width: 459px) {
    font-size: 1.3rem;
  }

  &:hover {
    background: #E52627;
  }

  &:active {
    background: #FF6263;
  }
}


/*Стили наполнения блока*/
.wrapp-preview {
  display: flex;
  justify-content: space-between;

  &_header {
    margin-top: 100px;
  }
}

.preview-info {
  color: #ffffff;
  width: 50%;
  z-index: 9;

  @media only screen and (max-width: 1023px) {
    width: 100%;
  }

  &_demo-access {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
  }

  &__heading {
    font-style: normal;
    font-weight: bold;

    &_h1 {
      font-size: 6.4rem;

      @media only screen and (max-width: 939px) {
        font-size: 4.2rem;
      }

      @media only screen and (max-width: 459px) {
        font-size: 2.4rem;
      }
    }

    &_h2 {
      font-size: 4rem;
      line-height: 1.6;

      @media only screen and (max-width: 939px) {
        font-size: 3rem;
      }

      @media only screen and (max-width: 459px) {
        font-size: 2rem;
      }
    }
  }

  &__descript {
    font-style: normal;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.8;
    margin: -15px 0 40px;

    @media only screen and (max-width: 939px) {
      font-size: 1.4rem;
    }

    @media only screen and (max-width: 459px) {
      font-size: 1.3rem;
    }
  }
}

.preview-img {
  width: 50%;
  padding: 20px 0 20px 20px;

  @media only screen and (max-width: 1023px) {
    display: none;
  }
}