/* -HEADER */
.header {

  &_bg-wrap {
    background: url("../images/bg_header.jpg");
    background-size: cover;
    margin-top: -100px;
    height: 100vh;
    display: flex;

    @media only screen and (max-width: 1023px) {
      height: 100%;
    }
  }

  &__wrapp-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    @media only screen and (max-width: 939px) {
      justify-content: start;
    }
  }

  a {
    color: #ffffff;
    text-decoration: none;

    &:hover {
      color: #FF6263;
    }
  }
}

.logo {
  @media only screen and (max-width: 939px) {
    width: 140px;
  }
}


/* --Menu */
.menu {
  @media only screen and (max-width: 939px) {
    display: none;

    &_active {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      position: absolute;
      top: 95px;
      right: 0;
      z-index: 11;

      @media only screen and (max-width: 459px) {
        top: 145px;
      }
    }
  }

  &__link {
    font-style: normal;
    font-weight: 600;
    font-size: 1.4rem;
    margin-right: 50px;

    @media only screen and (max-width: 939px) {
      margin-right: 20px;
      font-size: 1.2rem;
      margin-bottom: 20px;
    }

    &:last-child {
      margin-right: 0;

      @media only screen and (max-width: 939px) {
        margin-right: 20px;
      }
    }
  }
}

/* --Phone */
.phone {
  display: flex;
  flex-direction: column;
  text-align: right;

  @media only screen and (max-width: 939px) {
    margin-left: auto;
    margin-right: 60px;
  }

  @media only screen and (max-width: 459px) {
    display: none;

    &_active {
      display: flex;
      position: absolute;
      right: 0;
      top: 95px;
      margin-right: 20px;
      z-index: 11;
    }
  }

  &__tel {
    font-style: normal;
    font-weight: 700;
    font-size: 1.6rem;

    @media only screen and (max-width: 939px) {
      font-size: 1.4rem;
    }
  }

  &__req-call {
    font-style: normal;
    font-weight: 500;
    font-size: 1.2rem;

    @media only screen and (max-width: 939px) {
      font-size: 1rem;
    }

    @media only screen and (max-width: 459px) {
      font-size: 1.2rem;
    }
  }
}


/*Кнопка меню гамбургер*/
.menu-hamburger {
  display: none;

  @media only screen and (max-width: 459px) {
    margin-left: auto;
  }
}

@media only screen and (max-width: 939px) {
  .menu-hamburger {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    z-index: 11;
  }
  .menu-hamburger__icon {
    position: relative;
    width: 21px;
    height: 4px;
    background: #ffffff;
    border: 0;
    border-radius: 0;
    outline: 0;
  }
  .menu-hamburger__icon:focus {
    outline: 0;
  }
  .menu-hamburger__icon:before {
    position: absolute;
    left: 0;
    top: -8px;
    content: "";
    display: block;
    width: 21px;
    height: 4px;
    background: #ffffff;
    transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
  }
  .menu-hamburger__icon:after {
    position: absolute;
    left: 0;
    top: 8px;
    content: "";
    display: block;
    width: 21px;
    height: 4px;
    background: #ffffff;
    transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
  }

  .menu-hamburger__icon.menu-hamburger__icon_active {
    background: transparent;
  }
  .menu-hamburger__icon.menu-hamburger__icon_active:before {
    transform: rotate(45deg);
    top: 0;
    transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
  }
  .menu-hamburger__icon.menu-hamburger__icon_active:after {
    transform: rotate(-45deg);
    top: 0;
    transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
  }
}

@media only screen and (max-width: 939px) {
  .film {
    display: none;

    &_active {
      display: block;
      background: rgba(0, 0, 0, 0.85);
      position: fixed;
      width: 100%;
      height: 100%;
      z-index: 10;
      top: 0;
    }
  }
}